<!doctype html>
<html lang="en">

<head>
    <script src="jquery-3.4.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"></link>
    <title>Command helper for running CS6203 HFL project</title>

</head>

<body>
    <div class="row" style="margin-top: 40px;">
        <div style="margin:0 auto;width: 60%;min-width: 500px;" id="serviceList">
            <h4 style="text-align: center;">Command helper for running CS6203 HFL project</h4>
            <p>Note: you can change your configuration by the following form, and the command then will automatically changed in the result section. <b>Only the arguments that need to type for a long time will be shown </b> for configuration. </p>
            <p>For different tasks, there maybe some arguments that are unused, it's fine.</p>
            <div style="overflow: auto;margin-bottom: 10px">
                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Choose which algorithm do you want to run.</label>
                    <select v-model="alg" class="form-control" id="exampleFormControlSelect2">
                      <option value="baseline_main.py">Baseline (all the data are trained on a single machine)</option>
                      <option value="federated_main.py">Federated Averaging Simulation (simulate FedAvg with a single program)</option>
                      <option value="dataset_split.py">Dataset Split for Federated Averaging Distributed version.</option>
                      <option value="fedavg_coordinator.py">Federated Averaging Coordinator - Real decentralized (run FedAvg on multiple processes)</option>
                      <option value="fedavg_client.py">Federated Averaging Workers - Real decentralized (run FedAvg on multiple processes)</option>
                      <option value="federated_distributed_random.py">Federated distributed random algorithm</option>
                      <option value="federated_brain.py">FedBrain (federated learning without a central server)</option>
                      <option value="federated_brain_v2.py">FedBrain_v2 (federated learning without a central server)</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Choose which dataset do you want to train on.</label>
                    <select v-model="dataset" class="form-control">
                        <option>	mnist	</option>
                        <option>	femnist	</option>
                        <option>	cifar10	</option>
                        <option>	chest_xray	</option>
                        <option>	COVID19	</option>
                        <option>	heart_disease	</option>
                        <option>	COVID19_twitter	</option>
                        <option>	heartbeat	</option>     
                        <option>	malaria_cell_images	</option>
                        <option>	HAM10000	</option>                   
                    </select>
                  </div>
                   <div class="form-group">
                    <label for="Command generated">Command generated</label>
                    <textarea class="form-control" style="height: 400px;" id="exampleFormControlTextarea1" rows="3">python {{alg}} --optimizer=adam --lr=0.001 --gpu=-1 --secret_share=0 --parallel=0 --local_ep=5 --local_bs=50 --ss_address={{ss_address}} --frac={{frac}}  --epochs={{epochs}} --worker_number=0 --dataset={{dataset}} --num_users={{n}} --iid=1</textarea>
                  </div>
            </div>
            
        </div>
    </div>

</body>

</html>
<script>
    var app = new Vue({
        el: '#serviceList',
        data: {
            list: [],
            alg:"baseline_main.py",
            n: 3,
            frac: 0.7,
            dataset:"mnist",
            epochs: 100,
            ss_address: "localhost",
            command: "cd ~/Federated-Learning-PyTorch/src", //记录服务行为
        },
        methods: {
            modifyService: function(id, url) {
                let message = { //显示flowchart
                    type: 1, //消息类型，传递链接
                    message: {
                        "id": id,
                    }
                };
                ws.send(JSON.stringify(message));
                window.location.href = url; //跳转链接
            },
            browseService: function(id) {
                window.location.href = "serviceInfo.html?id=" + id; //跳转链接
            },
            deleteService: function(id) {
                if (confirm("确定要删除服务吗？")) {
                    $.get("http://183.129.170.180:8041/backEnd/deleteService?id=" + id, function(res) {
                        $.get("http://183.129.170.180:8041/backEnd/queryServices", function(re) {
                            result = re.sort(desc);
                            app.$data.list = result;
                        });
                    });

                }
            },
        }
    });

</script>